@{
    ViewData["Title"] = "Home Page";
}

<input type="hidden" id="hidUser" value="@ViewBag.Username" />
<div id="divUser" style="display: none;"></div>
<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-4" style="font-size: 3rem;">Grouper</h1>
    </div>
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-lg-4 col-md-6 col-sm-11" style="padding: 0px;">
            <div class="form-group">
                <label for="cboGroup">Select Group:</label>
                <select class="form-control" id="cboGroup" onchange="selectGroup()"></select>
            </div>
        </div>
        <div class="col-lg-1 col-sm-1 btn-container" title="Add Group" onclick="addGroup()">
            <div class="btn-add">
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="itemsContainer" style="width: 100%; height: 650px; border: 1px solid #ced4da; border-radius: 4px; padding: 10px;">
            @* Items are loaded here *@
        </div>
    </div>
</div>

