
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div class="card">
        <div class="card-body">
            <h5>Card Title</h5>
            <p>Image card description: The sheer size of space makes it impossible to accurately predict just how many stars we have. 
            Right now, scientists and astronomers use the number of stars only within our galaxy, The Milky 
            Way, to estimate. That number is between 200-400 billion stars and there are estimated to be billions 
            of galaxies so the stars in space really are completely uncountable.</p>
        </div>
    </div>
