/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.pad-btm-10 {
    padding-bottom: 10px;
}

.mar-btm-10 {
    margin-bottom: 10px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Custom Button styles
-------------------------------------------------- */
.btn-container {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 17px;
}

.btn-add {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    color: white;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    background-color: #00CC6F;
}

.btn-edit {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    color: #F0D046;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    background-color: #fff;
}

.btn-delete {
    width: 35px;
    height: 35px;
    border-radius: 4px;
    color: firebrick;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    background-color: #fff;
}

.btn-add:hover {
    background-color: #009954;
}

/* Other...
-------------------------------------------------- */

#itemsContainer {
    width: 100%;
    height: 650px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
